@import 'partials/variables';
@import 'partials/mixins';

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@100;300;400;500;700;900&display=swap');


*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container{
    width: 50%; 
    height: 50%; 

    #date{
        text-align: center;
        font-family: 'Anton', sans-serif;
        font-size: 3.5rem;
        letter-spacing: .25em;
    }

    #joke{
        text-align: center; 
        font-family: 'Roboto', sans-serif;
        font-size: 1.75rem; 
        font-weight: 500; 
        
    }
}